* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-image: url("images/freenaturestock-768.jpeg");
  background-size: cover;
}

.container {
  background-color: #D2C58F;
  border: 4px solid;
  border-color: #F0E4B4 #C1B378 #C1B378 #F6EDC9;
  box-sizing: border-box;
  height: 50px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items:center;
  padding: 0 20px;
  
}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #D2C58F;
  border: 10px solid #D2C58F;
  margin-bottom: 10px;
}

div {
  font-size: 25px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: white;
}

.counter {
  width: 70px;
}

.timer {
  width: 70px
}

h1 {
  color: white;
}

button {
  width: 35px;
  height: 35px;
  background-image: url('images/small basket.png');
  background-size: contain;
  background-color: #F6EDC9;
  border-color: #C1B378;
}
/*  button:focus {
   outline: none !important;
 } */
 
p {
  font-size: 15px;
}

/* .alert {
  width: 300px;
  height: 300px;
  background-color: red;
} */

.valid {
  height: 40px;
  width: 40px;
  border: 4px solid;
  border-color: #F0E4B4 #C1B378 #C1B378 #F6EDC9;
  box-sizing: border-box;
}

.checked {
  height: 40px;
  width: 40px;
  border: 2px solid;
  background-color: #F6EDC9;
  border-color: #C1B378;
  box-sizing: border-box;
}

.mine {
  height: 40px;
  width: 40px;
  border: 4px solid;
  border-color: #F0E4B4 #C1B378 #C1B378 #F6EDC9;
  box-sizing: border-box;
}

.flag {
  height: 40px;
  width: 40px;
  border: 2px solid;
  background-color: #F6EDC9;
  border-color: #C1B378;
  box-sizing: border-box;
}

.one {
  color: blue;
}

.two {
  color: green;
}

.three {
  color: red;
}

.four{
  color: #bb41d3;
}

.five {
  color: #e76346;
}

.six {
  color: #4199d3;
}

.seven {
  color: #57da59;
}

.eight {
  color: #381532;
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  
  .container {
    width: 50%;
  }
  
  .grid {
    width: 50%;
    height: 50%;
  }

  div {
    font-size: 10px;
    text-align: center;
  }
}